<!-- {% load staticfiles %}
{% if request.user.is_authenticated %}
{% else %}<a href="{% url django.contrib.auth.login %}">Login</a>{% endif %} -->
<!--{% for task in tasks %}
Title : {{ task.title }}
<br>
Description : {{task.text}}
<br><br>
{% endfor %} -->
<!DOCTYPE html>
<html>
<head>
	<title>Ace Portal : Dashboard</title>
	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Ace Library Portal @ VIPS">
 	<meta property="og:title" content="Portal -- VIPS" />
 	<meta property="og:description" content="An portal to find coding and tech stuff built by ACE members at VIPS." />
 	<link rel="icon" href="{% static 'img/logo.png' %}"> 
 	
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.css" />
  	<link rel="stylesheet" href="{% static 'css/home.css' %}" />

</head>
<body>

	<!-- Hero Bg tab -->
	<div class="ui stackable grid hero-hg">
		<div class="ui row">
		<div class="ui sixteen wide column hero-bg">
			<img src="{% static 'img/logo.png' %}">
			<h1><i class="content icon large burNav" id="navOpen"></i></h1>
			<div class="userAbs">
				<button class="ui teal inverted tiny button">Core Member</button><br><br>
				<a href="#" class="user-main">{{ request.user.first_name }} {{request.user.last_name  }}</a>
				<div class="ui feed">
				<div class="event">
				    <div class="content">
				    <div class="summary"> 
				        <a class="user">@ {{ request.user.username }}</a>
				        <br> Score<div class="date">7/10</div>
				    </div>
				    </div>
				</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<!-- Hero Bg tab end -->	

	<!-- ace resource menu -->
	<div class="ui container">
		<div class="ui stackable grid">
			<div class="ui row" style="padding:80px 0px;">
			<div class="ui sixteen wide column" style="text-align:center;">
				<h3 style="color:rgba(0, 0, 0, 0.50)">EAT SLEEP CODE</h3>
				<h1 class="quote-head">Resource: Python<br><span>Ace Logic Bombs</span></h1>
				<br><br><br>

				<div class="ui stackable grid">
					<div class="ui sixteen wide column task">
						<div class="ui card" ">
						  <div class="card">
							<div class="abs-Lang">
								<div class="code-Lang centered"><center>A</center></div>
							</div>
						    <div class="content">
						      <div class="header"><h1>Artificial Intelligence</h1></div>
						      <div class="meta"><b>Language: AI</b></div>
						      <br>
						      <div class="description">
									This never-ending process requires keeping UX present before, during, and after the build is complete. It’s always a challenge to act with the user in mind—influences like due dates and bottom lines sometimes cloud the way.

									To help keep your product on the right path, I’ve assembled a list of 5 UX principles I use to guide my design process. Understanding how and why to make UX decisions goes a long way in explaining things to others on the team, which goes an even longer way in getting said UX decisions into the final product.
						      </div><br>
						      <button class="ui blue inverted medium button task-submit">View Resource</button>
						      <br><br>
						    </div>
						  </div>
						</div>
					</div>
				</div>


				<div class="ui stackable grid">
					<div class="ui sixteen wide column task">
						<div class="ui card" ">
						  <div class="card">
							<div class="abs-Lang">
								<div class="code-Lang centered"><center>M</center></div>
							</div>
						    <div class="content">
						      <div class="header"><h1>Machine Learning</h1></div>
						      <div class="meta"><b>Language: Machine Learning</b></div>
						      <br>
						      <div class="description">
									Machine learning is a type of artificial intelligence (AI) that provides computers with the ability to learn without being explicitly programmed. Machine learning focuses on the development of computer programs that can teach themselves to grow and change when exposed to new data.
						      </div><br>
						      <button class="ui blue inverted medium button task-submit">View Resource</button>
						      <br><br>
						    </div>
						  </div>
						</div>
					</div>
				</div>


				<div class="ui stackable grid">
					<div class="ui sixteen wide column task">
						<div class="ui card" ">
						  <div class="card">
							<div class="abs-Lang">
								<div class="code-Lang centered"><center>P</center></div>
							</div>
						    <div class="content">
						      <div class="header"><h1>A New Era Of Python</h1></div>
						      <div class="meta"><b>Language: Python</b></div>
						      <br>
							<div class="description">
									Welcome! Are you completely new to programming? If not then we presume you will be looking for information about why and how to get started with Python. Fortunately an experienced programmer in any programming language (whatever it may be) can pick up Python very quickly. It's also easy for beginners to use and learn, so jump in!
						      </div><br>
						      <button class="ui blue inverted medium button task-submit">View Resource</button>
						      <br><br>
						    </div>
						  </div>
						</div>
					</div>
				</div>

			</div>
			</div>
		</div>
	</div>
	<!-- ace resource menu end -->
S
	<!-- nav -->
	<nav class="transition hidden">
		<div class="centered nav">
			<div class="center-area">
				<div class="centered nav-segment">
					<div class="ui stackable relaxed grid">
						<div class="ui row">
							<div class="ui sixteen wide column">
								<a href="{% url 'resource' %}">Resources</a><br>
								<a href="{% url 'home' %}" class="nav-close">Dashboard</a><br>
								<a href="{% url 'auth:logout' %}?next={{ request.path }}" class="nav-close">Logout</a><br>	
							</div>
						</div>
					</div>
				</div>
			</div>
			<h1><i class="remove icon large burNav nav-close" style="color:white;"></i></h1>
		</div>
	</nav>
	<!-- nav end -->

	<footer>
		Made with ♥ by ACE
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.js"></script>
	<script type="text/javascript">
		$('.special.cards .image').dimmer({
		  on: 'hover'
		});
		$(document).ready(function(){
			$('#navOpen').click(function(){
				$('nav') .transition('fade down'); 
			});
		});
		$(document).ready(function(){
			$('.nav-close').click(function(){
				$('nav') .transition('fade down'); 
			});
		});	
		$(document).ready(function(){
			$('.task-trigger').click(function(){
				$(this).find('.task-event').transition('fade down');
			});
		});
	</script>
</body>
</html>