{% extends 'acelibraryapp/base.html' %}
{% load staticfiles %}
{% block main %}
{% load tag_library %}
<!-- {% load staticfiles %}
{% if request.user.is_authenticated %}
{% else %}<a href="{% url django.contrib.auth.login %}">Login</a>{% endif %} -->
<!--{% for task in tasks %}
Title : {{ task.title }}
<br>
Description : {{task.text}}
<br><br>
{% endfor %} -->
	<!-- ace task menu -->
	<div class="ui container">
		<div class="ui stackable grid">
			<div class="ui row" style="padding:80px 0px;">
			<div class="ui sixteen wide column" style="text-align:center;">
				<h3 style="color:rgba(0, 0, 0, 0.50)">EAT SLEEP CODE</h3>
				<h1 class="quote-head">Ace Task Manager<br><span>Ace Logic Bombs</span></h1>
				<br><br><br>
		{% for task in tasks %}

				<div class="ui stackable grid">
					<div class="ui sixteen wide column task">
						<div class="ui card" ">
						  <div class="card">
							<div class="abs-Lang">
								<div class="code-Lang centered"><center>C</center></div>
							</div>
						    <div class="content">
						      <div class="header"><h1>{{task.title}}</h1></div>
						      <div class="meta"><b>Published: {{task.published_date}}</b></div>
						      <br>
						      
						      <div class="description">
						      	{{task.text}}
						      </div><br>
						      <div class="meta"><b>Difficulty:
						      
						      {% for x in task.difficulty|to_int %}
						      <i class="star yellow icon"></i>
						      {% endfor %}
						      
						      {% for x in task.difficulty|to_remaining %}
						     <i class="star icon"></i>
						      {% endfor %}
						      
						      </br></div><br>
						      <button class="ui blue inverted medium button task-submit">Submit Your Entry</button>
						      <br><br>
						    </div>
						  </div>
						</div>
					</div>
				</div>

			</div>
			</div>
		</div>
	</div>
	<!-- ace task menu end -->
				{% endfor %}
	<!-- nav -->
	<nav class="transition hidden">
		<div class="centered nav">
			<div class="center-area">
				<div class="centered nav-segment">
					<div class="ui stackable relaxed grid">
						<div class="ui row">
							<div class="ui sixteen wide column">
								<a class="active">Task Manager</a><br>
								<a href="#" class="nav-close">Task Score</a><br>
								<a href="{% url 'home' %}" class="nav-close">Dashboard</a><br>
								<a href="{% url 'auth:logout' %}?next={{ request.path }}" class="nav-close">Logout</a><br>	
							</div>
						</div>
					</div>
				</div>
			</div>
			<h1><i class="remove icon large burNav nav-close" style="color:white;"></i></h1>
		</div>
	</nav>
	<!-- nav end -->

{% endblock %}